body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}
ul {
  margin: 0 auto;
}

li {
  padding-left: 50px;
  padding-right: 50px;
}

.colour-btn {
  border: 1px solid black;
  border-radius: 6px;
}
